<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test relying party</title>
</head>
<body>
    <div>
        @if (User.Identity.IsAuthenticated)
        {
            <span><a href="https://localhost:44334/account/changeemail?returnUrl=@Url.Action("Index", "Home", null, Request.Url.Scheme)">Change Email</a></span>
            <span><a href="https://localhost:44334/account/changepassword?returnUrl=@Url.Action("Index", "Home", null, Request.Url.Scheme)">Change Password</a></span>
        }
        else
        {
            <span><a href="@Url.Action("Login", "Home")">Login</a></span>
        }
    </div>
    <div>
        @RenderBody()
    </div>
</body>
</html>
