
// Buttons
// ==========================================================================

.button {
  @include button ($button-colour);
  vertical-align: top;


    width: 100%;
    text-align: center;

	@include  breakpoint($small) {
		width: auto;
	}
	margin-bottom: 5px;
}

// Fix unwanted button padding in Firefox
.button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.button:focus {
  outline: 3px solid $focus-colour;
}

// Disabled buttons
.button[disabled="disabled"] {
  background: $button-colour;
}

.button[disabled="disabled"]:focus {
  outline: none;
}



