<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Hashids.net" version="1.2.2" targetFramework="net45" />
  <package id="MediatR" version="2.0.2" targetFramework="net45" />
  <package id="Microsoft.WindowsAzure.ConfigurationManager" version="3.2.1" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net462" />
  <package id="NLog" version="4.5.11" targetFramework="net462" />
  <package id="SFA.DAS.CodeGenerator" version="1.0.0.4198" targetFramework="net45" />
  <package id="SFA.DAS.Configuration" version="1.0.0.6634" targetFramework="net45" />
  <package id="SFA.DAS.HashingService" version="1.0.0.43004" targetFramework="net45" />
  <package id="SFA.DAS.Notifications.Api.Client" version="1.1.0.12760" targetFramework="net45" />
  <package id="SFA.DAS.Notifications.Api.Types" version="1.1.0.12760" targetFramework="net45" />
  <package id="SFA.DAS.TimeProvider" version="1.0.0.3956" targetFramework="net45" />
</packages>