trigger:
  batch: true
  branches:
    include:
      - "master"

variables:
- name: SolutionBaseName
  value: SFA.DAS.EmployerProfiles
- name: BuildConfiguration
  value: 'release'
- name: BuildPlatform
  value: 'any cpu'  
- name: GitVersion.AssemblySemFileVer
  value: ''

resources:
  repositories:
  - repository: das-platform-building-blocks
    type: github
    name: SkillsFundingAgency/das-platform-building-blocks
    ref: refs/tags/3.0.10
    endpoint: SkillsFundingAgency

stages:
- stage: Build
  jobs:
  - template: pipeline-templates/job/code-build.yml
    parameters:
      SolutionBaseName: $(SolutionBaseName)
      BuildConfiguration: $(BuildConfiguration)

- template: azure-pipelines-templates/deploy/stage/nuget-publish.yml@das-platform-building-blocks
