
@{
    ViewBag.Title = "Bad request";
    ViewBag.PageID = "page-bad-request";
    ViewBag.HideSigninLink = true;
    ViewBag.HideCookieMessage = true;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model SFA.DAS.EmployerUsers.Web.Models.OrchestratorResponse

<div class="grid-row">
    <div class="column-two-thirds">
        <h1 class="heading-xlarge access-denied">@ViewBag.Title</h1>
        <p class="access-denied">Access to this page is restricted to authorised users.</p>
    </div>
</div>


