@{
    ViewBag.Title = "Error";
    ViewBag.PageID = "page-error";
}

<div class="grid-row">
    <div class="column-two-thirds">
        <h1 class="heading-xlarge">@ViewBag.Title</h1>
        <p>An error occurred while processing your request.</p>
    </div>
</div>
