@model IdentityServer3.Core.ViewModels.AuthorizeResponseViewModel
@{
    ViewBag.PageID = "authorize-response";
    ViewBag.Title = "You've logged in";
    ViewBag.HideSigninLink = "true";
}

<h1 class="heading-xlarge">You've logged in</h1>
<form id="mainForm" method="post" action="@Model.ResponseFormUri">
    <div id="autoRedirect" style="display: none;">Please wait...</div>
    @Html.Raw(Model.ResponseFormFields)

    <div id="manualLoginContainer">
        <button type="submit" class="button" autofocus="autofocus">Continue</button>
    </div>
</form>

@section scripts
{
    <script src="@Url.Content("~/Scripts/AuthorizeResponse.js")"></script>
}