@model SFA.DAS.EmployerUsers.Web.Models.LogOutViewModel
@{
    ViewBag.PageID = "logout";
    ViewBag.Title = "You've logged out";
    ViewBag.HideSigninLink = true;
    ViewBag.HideCookieMessage = true;
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@foreach (var url in Model.IdsLogoutModel.IFrameUrls)
{
    <iframe style="display:none;" src="@url"></iframe>
}

<div id="NoJsContainer">
    <h1 class="heading-xlarge">@ViewBag.Title</h1>
    <a href="@Model.SignOutMessage.ReturnUrl" class="button" autofocus="autofocus">Continue</a>
</div>