<p>You must sign out of this service at the end of each session.</p>
<p>You must not do any of the following when using this service:</p>
<ul class="list list-bullet">
    <li>untruthful or inaccurate information</li>
    <li>upload any files that contain computer viruses or malware</li>
    <li>commit any cybercrime as defined in the <a href="http://www.legislation.gov.uk/ukpga/1990/18/contents" rel="external" target="_blank">Computer Misue Act 1990</a></li>
    <li>share your sign in details with anybody else</li>
</ul>
<p>This service uses cookies.</p>
<p>Contact information is collected for the administration of your <strong>Manage apprenticeships</strong> account and, except where legally required to do so, will not be used or disclosed for other purposes. We will not use your email address for any marketing purposes or for any reason unrelated to the use of your <strong>Manage apprenticeships</strong> account.</p>