<p>You must sign out of this service at the end of each session.</p>
<p>You must not do any of the following when using this service:</p>
<ul class="list list-bullet">
    <li>input untruthful or inaccurate information</li> 
    <li>upload any files that contain computer viruses or malware</li> 
    <li>commit any cybercrime as described by the <a href="http://www.legislation.gov.uk/ukpga/1990/18/contents" target="_blank" rel="external">Computer Misuse Act 1990</a></li> 
    <li>share your sign in details with anybody else</li> 
</ul>