@{
    ViewBag.PageID = "page-terms";
    ViewBag.Title = "Terms of use";
}
<div class="grid-row">
    <div class="column-two-thirds">
        <h1 class="heading-xlarge">Terms of use</h1>
        @Html.Partial("_TermsAndConditionBody")
    </div>
</div>