@{
    ViewBag.PageID = "page-terms";
    ViewBag.Title = "Terms and conditions";
}
<div class="grid-row">
    <div class="column-two-thirds">
        <h1 class="heading-xlarge">@ViewBag.Title</h1>
        @Html.Partial("_TermsAndConditionBody")
    </div>
</div>