@model SFA.DAS.EmployerUsers.Support.Core.Domain.Model.EmployerUser
<div class="grid-row">
    <div class="column-full">
        <h1 class="heading-large heading-large__equal-margins">
            @Model.FirstName @Model.LastName
        </h1>
    </div>
</div>