<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="EmployerUsersUrl" value="__EmployerUsersUrl__" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="UsersConnectionString" value="__UsersConnectionString__" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="ProfilesConnectionString" value="__ProfilesConnectionString__" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
  </appSettings>
</configuration>