<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="EmployerUsersUrl" value="https://dev-employer.apprenticeships.sfa.bis.gov.uk/" />
    <add key="UsersConnectionString" value="Server=tcp:das-dev-employerusers.database.windows.net,1433;Initial Catalog=das-dev-empu-db;Persist Security Info=False;User ID=adminuser;Password=fwCT34dpteVsRXbvDPvN9zXzWYLKCV;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />
  </appSettings>
</configuration>