<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Dapper" version="1.50.2" targetFramework="net462" />
  <package id="Microsoft.IdentityModel.Protocol.Extensions" version="1.0.0" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net462" />
  <package id="NUnit" version="3.2.1" targetFramework="net45" />
  <package id="Selenium.Support" version="2.41.0" targetFramework="net45" />
  <package id="Selenium.WebDriver" version="2.41.0" targetFramework="net45" />
  <package id="System.IdentityModel.Tokens.Jwt" version="4.0.0" targetFramework="net45" />
  <package id="WebDriver.ChromeDriver.win32" version="2.25.0.0" targetFramework="net45" />
</packages>