@{
    ViewBag.Title = "GOV.UK DAS ALPHA";
}


<h1 class="heading-large">An unexpected error has occured</h1>
<p>We're really sorry, but something bad happened. If the problem persists then get in touch.</p>