@{
    ViewBag.Title = "Page not found";
    ViewBag.PageID = "page-not-found";
}

    <h1 class="heading-xlarge">@ViewBag.Title</h1>
    <p>If you entered a web address, check that it's correct. </p>
