@model SFA.DAS.EmployerUsers.Web.Models.HomePageViewModel
@{
    ViewBag.Title = "Page not found";
    ViewBag.PageID = "page-not-found";
    ViewBag.HideCookieMessage = true;
    ViewBag.HideSigninLin = true;
}

<h1 class="heading-xlarge">@ViewBag.Title</h1>
<p>
    If you entered a web address, check that it's correct.
    @if(!string.IsNullOrEmpty(Model.ReturnUrl))
    { 
    <text>Otherwise <a href="@Model.ReturnUrl">Start again</a></text>
    }
</p>
