
@model SFA.DAS.EmployerUsers.Web.Models.ChangeEmailViewModel

@{
    ViewBag.PageID = "page-change-email-address";
    ViewBag.Title = "Change your email address";
}

<a href="@Model.ReturnUrl" class="link-back">Back</a>

@if (!Model.Valid)
{
    <div class="error-summary" role="group" tabindex="-1">
        <h1 class="heading-medium error-summary-heading" id="error-summary-heading"> Errors to fix </h1>
        <p>Check the following details:</p>
        <ul class="error-summary-list">
            
        </ul>
    </div>
}

<h1 class="heading-xlarge"> Change your email address </h1>

<form method="post">
    @Html.AntiForgeryToken()

    <fieldset>
        <legend class="visuallyhidden">New email address</legend>

        <div class="form-group">
            <label class="form-label-bold" for="NewEmailAddress">New email address</label>
            <input autofocus="autofocus" aria-required="true" class="form-control" id="NewEmailAddress" name="NewEmailAddress">
        </div>

        <div class="form-group">
            <label class="form-label-bold" for="ConfirmEmailAddress">Re-type email addresss</label>
            <input aria-required="true" class="form-control" id="ConfirmEmailAddress" name="ConfirmEmailAddress">
        </div>
    </fieldset>
    <button type="submit" class="button">Continue</button>
</form>