<h1 class="heading-xlarge">Change your password</h1>

<form method="post">
    @Html.AntiForgeryToken()

    <fieldset>
        <legend class="visuallyhidden">New password</legend>

        <div class="form-group">
            <label class="form-label-bold" for="CurrentPassword">Current password</label>
            <input type="password" autofocus="autofocus" aria-required="true" class="form-control" id="CurrentPassword" name="CurrentPassword">
        </div>

        <div class="form-group">
            <label class="form-label-bold" for="NewPassword">
                Create new password
                <span class="form-hint">
                    <p>Your password must:</p> 
                    <ul class="list list-bullet">
                        <li>be between 8 and 16 characters</li> 
                        <li>include at least one uppercase letter and one lowercase letter</li> 
                        <li>include at least one number</li> 
                    </ul> 
                </span>
            </label>
            <input type="password" aria-required="true" class="form-control" id="NewPassword" name="NewPassword">
        </div>

        <div class="form-group">
            <label class="form-label-bold" for="ConfirmPassword">Re-type password</label>
            <input type="password" aria-required="true" class="form-control" id="ConfirmPassword" name="ConfirmPassword">
        </div>
    </fieldset>
    <button type="submit" class="button">Continue</button>
</form>