@model SFA.DAS.EmployerUsers.Web.Models.OrchestratorResponse<SFA.DAS.EmployerUsers.Web.Models.ActivateUserViewModel>
@{
    ViewBag.PageID = "page-confirm-identity";
    ViewBag.Title = "Confirm your identity";
    ViewBag.HideSigninLink = "true";

    var invalidAttributes = Model.Data.Valid ? "aria-invalid=\"true\" aria-labeledby=\"invalidMessage\"" : "";
}

<h1 class="heading-xlarge">Confirm your identity</h1>
<form method="post">
    @Html.AntiForgeryToken()
    <fieldset>
        <legend class="visuallyhidden">Access code for user registration</legend>
        <div class="form-group  @(!Model.Data.Valid ? "error" : "")">
            <label for="AccessCode">
                <span class="form-label-bold">Enter code</span>
                @if (!Model.Data.Valid)
                {
                    <span class="error-message" id="invalidMessage">Invalid code</span>
                }
            </label>
            <input @invalidAttributes autofocus="autofocus" aria-required="true" class="form-control" id="AccessCode" name="AccessCode">
        </div>
        <div class="form-group">
            <button type="submit" class="button" name="command" value="activate" id="button-activate">Continue</button>
        </div>
    </fieldset>
    
    <h2 class="heading-small">Not received an email?</h2>
    <button type="submit" class="link-button" name="command" value="resend">You can request another email</button>
</form>