@model SFA.DAS.EmployerUsers.Web.Models.RequestPasswordResetViewModel

<div class="hgroup">
    <h1 class="heading-large">Can't access your account?</h1>
</div>

    <section>
        <div class="text">

            <h2 class="heading-medium">Forgotten your password?</h2>
            @if (Model.ResetCodeSent)
            {
                <div class="validation-summary-info panel-info">
                    <div class="panel-body">
                        <p class="text">Password reset code has been sent</p>
                    </div>
                </div>
            }
            @if (Model.ErrorDictionary.Count > 0)
            {
                <div class="validation-summary-info panel-info">
                    <div class="panel-body">
                        <p class="text">There was a problem: @Model.ErrorDictionary.First().Value</p>
                    </div>
                </div>
            }
            <p>
                To reset your password we need to send you a 6-character code. If you can’t see it in your inbox within a few minutes, please check your spam folder.
            </p>
        </div>
        <form method="post" action="forgottencredentials">
            @Html.AntiForgeryToken()
            <div class="form-group">
                <input class="form-control" id="Email" name="Email" value="@Model.Email" aria-required="True">
            </div>
            <div class="form-group">
                <button type="submit" class="button" id="forgottenpassword-button">Send code</button>
            </div>
        </form>
</section>
    


<div class="text">
    <h2 class="heading-medium">If your account is locked</h2>
    <p>
        If your account is locked and you’ve been sent a code to unlock it, you
        can <a href="@Url.Action("Unlock","Account")">enter it</a> now.
    </p>
</div>