@model SFA.DAS.EmployerUsers.Web.Models.RequestPasswordResetViewModel
@{
    ViewBag.PageID = "page-forgotten-password-intro";
    ViewBag.Title = "Password reset code";
    ViewBag.HideSigninLink = true;
    ViewBag.HideCookieMessage = true;
}

<div class="grid-row">
    <div class="column-two-thirds">
        <h1 class="heading-xlarge">@ViewBag.Title</h1>
        <h2 class="govuk-heading-m">Before you start</h2>
        <p class="govuk-text">Make sure you know the email address registered for this service.</p>
        <h2 class="govuk-heading-m">How it works</h2>
        <ul class="list list-bullet">
            <li>enter the email address registered for this service</li>
            <li>we'll send a reset code to your registered email address</li>
            <li>enter the code from the email</li>
            <li>enter a new password</li>
        </ul>
        <p>
            <a class="govuk-button" href="@Url.Action("ForgottenCredentials","Account", new { Id = Model.SignInId, ClientId = Model.ClientId, ReturnUrl = Model.ReturnUrl })">Continue</a>
        </p>
    </div>
</div>

@section breadcrumb {
    <a href="@Url.Action("Login","Account", new { Id = Model.SignInId, ClientId = Model.ClientId, ReturnUrl = Model.ReturnUrl })" class="link-back">Back</a>
}