@model SFA.DAS.EmployerUsers.Web.Models.LoginViewModel
@{
    var invalidAttributes = Model.InvalidLoginAttempt ? "aria-invalid=\"true\" aria-labeledby=\"invalidMessage\"" : "";
    ViewBag.PageID = "page-sign-in";
    ViewBag.Title = "Sign in";
    ViewBag.HideSigninLink = "true";
}

@if (Model.InvalidLoginAttempt)
{
    <div class="grid-row">
        <div class="column-full">
            <div aria-labelledby="error-summary-heading-example-1" class="error-summary" role="group" tabindex="-1"> 
                <h1 class="heading-medium error-summary-heading" id="error-summary-heading-example-1"> Errors to fix </h1> 
                <p> Check the following details: </p> 
                <ul class="error-summary-list">
                    <li> <a href="#email-address" tabindex="0 "><span>Invalid credentials</span></a> </li> 
                </ul>
            </div>
        </div>
    </div>
}

<div class="grid-row">
    <div class="column-two-thirds">
        <h1 class="heading-xlarge">Sign in</h1>
        <p>Sign in or <a href="@Url.Action("Register", "Account", new { ReturnUrl = Model.ReturnUrl })">create an account</a> to manage your apprenticeship levy account.</p>
        <form method="post">
            @Html.AntiForgeryToken()
            <div class="form-group">
                <label class="form-label-bold" for="email-address">Email address</label>
                <input class="form-control form-control-3-4" id="email-address" name="EmailAddress" type="text" autocomplete="off"
                       autofocus="autofocus" aria-required="true" @invalidAttributes>
            </div>
            <div class="form-group">
                <label class="form-label-bold" for="password">Password</label>
                <input class="form-control form-control-3-4" id="password" name="Password" type="password" autocomplete="off"
                       aria-required="true" @invalidAttributes>
                
            </div>
            <div class="form-group">
                <button type="submit" class="button">Sign in</button>
            </div>
        </form>
        <p>
            <a href="@Url.Action("ForgottenCredentials","Account")">Forgotten your password?</a>
        </p>
    </div>
</div>