@model SFA.DAS.EmployerUsers.Web.Models.RegisterViewModel


<h1 class="heading-large">Register</h1>

@if (!Model.Valid)
{
    <div class="error" style="margin-bottom: 10px;">
        <p class="error-message">
            Invalid Details
        </p>
    </div>
}

<form method="post">
    <fieldset>
        <legend class="visuallyhidden">email address and password to sign in</legend>

        <div class="form-group">
            <label class="form-label" for="firstname">First Name</label>
            <input class="form-control" id="firstname" name="FirstName" value="@Model.FirstName">
        </div>
        <div class="form-group">
            <label class="form-label" for="lastname">Last Name</label>
            <input class="form-control" id="lastname" name="LastName"  value="@Model.LastName">
        </div>
        <div class="form-group">
            <label class="form-label" for="email-address">Email address</label>
            <input class="form-control" id="email-address" name="Email" type="text" value="@Model.Email">
        </div>
        <div class="form-group">
            <label class="form-label" for="password">Password</label>
            <input class="form-control" id="password" type="password" name="Password">
        </div>
        <div class="form-group">
            <label class="form-label" for="confirmpassword">Confirm Password</label>
            <input class="form-control" id="confirmpassword" type="password" name="ConfirmPassword">
        </div>
    </fieldset>
    <button type="submit" class="button">Register</button>
</form>
