@model SFA.DAS.Support.Shared.ViewModels.HeaderViewModel
<div class="grid-row">
    <div class="column-full">
        <h1 class="heading-large heading-large__equal-margins">
            @Model.Content
        </h1>
    </div>
</div>