.dashboard-panel {
    margin: 10px;
    padding: 10px;
    width: 310px;
    min-height: 100px;
}
.dashboard-panel > h3 {
    font-size: 35px;
    margin-bottom: 7px;
}
 .dashboard-panel.levy-panel {
     background-color: #785B8E;
     color: white;
     margin-left:0;
 }
